@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Poppins&family=Rokkitt&display=swap');

// font-family: 'Crimson Text', serif;

// font-family: 'Poppins', sans-serif;

// font-family: 'Rokkitt', serif;

body {
    background-color: $light;
}

header,
footer {
    background-color: $header-color;
    min-width: 100%;
}

.logo {
    width: 300px;
}

h1 {
    font-family: 'Rokkitt', serif;
    font-weight: bold;
}

h2,
h3 {
    font-family: 'Rokkitt', serif;
    font-weight: 600;
}

p,
small {
    font-family: 'Crimson Text', serif;
    color: $dark;
}

nav a,
.cta,
li {
    font-family: 'Poppins', sans-serif;;
}

.avatar {
    width: 80px;
}

.total {
    width: 70px;
}

header a,
h1,
footer p,
.fa-brands,
.fa-regular {
    color: $light;
}

ul {
    text-transform: uppercase;
}

footer {
    padding: 3% 8%;
}

.footer-logo {
    width: 250px;
}

.search {
    background: $secondary;
    border-radius: 0 !important;
}

.search span {
    border-radius: 0;
}

.search input {
    max-width: 750px;
    border-radius: 0;
}

.filter-options {
    background: $info;
    color: $light;
}

.filter-options li {
    display: inline-block;
}

.cta {
    background: $primary;
    border-radius: 0;
    filter: drop-shadow(0 0 0 transparent);
}

.cta:hover {
    background: $info;
    color: $light;
    border: 1px solid transparent;
    filter: drop-shadow(5px 5px 10px $dark);
}

.card {
    border-radius: 0;
}

.card img {
    width: 95%;
    height: 200px;
    border-radius: 0;
}

.card a {
    color: $dark;
    text-decoration: none;
}

.filter img {
    height: 280px;
}

.listings-container > div:nth-child(3n+1) .card {
    border: 2px solid $info;
    background-color: $light;
    transition: filter 0.5s ease-in-out;
}

.listings-container > div:nth-child(3n+1):hover .card {
    filter: drop-shadow(3px 3px 8px $info);
}

.listings-container > div:nth-child(3n+2) .card {
    border: 2px solid $primary;
    background-color: $light;
    transition: filter 0.5s ease-in-out;
}

.listings-container > div:nth-child(3n+2):hover .card {
    filter: drop-shadow(3px 3px 8px $primary);
}

.listings-container > div:nth-child(3n+3) .card {
    border: 2px solid $secondary;
    background-color: $light;
    transition: filter 0.5s ease-in-out;
}

.listings-container > div:nth-child(3n+3):hover .card {
    filter: drop-shadow(3px 3px 8px $secondary);
}