@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Poppins&family=Rokkitt&display=swap');
@import "listing.scss";
@import "profile.scss";
@import "sign-in.scss";
@import "new.scss";

body {
    background-color: $light;
}

header,
footer {
    background-color: $header-color;
    min-width: 100%;
    max-width: 1300px;
}

.logo {
    width: 250px;
}

h1,
h2,
h3 {
    font-family: 'Rokkitt', serif;
    font-weight: bold;
}

p,
small,
label,
.new-account p,
.agree p {
    font-family: 'Crimson Text', serif;
    color: $dark;
}

nav a,
.cta,
li,
.dropdown-item,
#menu {
    font-family: 'Poppins', sans-serif;
}

#menu {
    color: $light;
    text-transform: uppercase;
}

.avatar {
    width: 80px;
}

.total {
    width: 50px;
}

header a,
h1,
footer p,
.fa-brands,
.fa-regular {
    color: $light;
}

ul {
    text-transform: uppercase;
}

footer {
    padding: 3% 8%;
}

.footer-logo {
    max-width: 250px;
    min-width: 150px
}

.credits {
    background: $credits-color;
    min-width: 100%;
}

.credits div {
    width: 100px;
    padding-left: 50px;
}

.credits p {
    color: $light;
}

.search {
    background: $secondary;
    border-radius: 0 !important;
}

.search span,
input {
    border-radius: 0;
}

.search input {
    max-width: 750px;
    border-radius: 0;
}

.filter-options {
    background: $info;
    color: $light;
    height: 50px;
}

.filter-options li {
    display: inline-block;
}

.filter-options a {
    color: $light;
    text-decoration: none;
}

.cta {
    background: $primary;
    border-radius: 0;
    filter: drop-shadow(0 0 0 transparent);
    transition: filter 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
}

.cta:hover {
    background: $info;
    letter-spacing: 2px;
    color: $light;
    margin: 0;
    border: 1px solid transparent;
    filter: drop-shadow(5px 5px 10px $dark);
}

.cancel {
    border-radius: 0;
    border: 2px solid $secondary;
    color: $dark;
    background: $light;
    filter: drop-shadow(5px 5px 10px transparent);
    transition: filter 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
}

.cancel:hover {
    background: $secondary;
    border: 2px solid transparent;
    letter-spacing: 2px;
    color: $light;
    margin: 0;
    filter: drop-shadow(5px 5px 10px $secondary);
}

.card {
    border-radius: 0;
}

.card img {
    width: 95%;
    height: 200px;
    border-radius: 0;
}

.card a {
    color: $dark;
    text-decoration: none;
}

.filter {
    max-width: 1000px;
}

.filter img {
    height: 280px;
}

.listings-container > div:nth-child(3n+1) .card {
    border: 2px solid $info;
    background-color: $light;
    transition: filter 0.5s ease-in-out;
}

.listings-container > div:nth-child(3n+1):hover .card {
    filter: drop-shadow(3px 3px 8px $info);
}

.listings-container > div:nth-child(3n+2) .card {
    border: 2px solid $primary;
    background-color: $light;
    transition: filter 0.5s ease-in-out;
}

.listings-container > div:nth-child(3n+2):hover .card {
    filter: drop-shadow(3px 3px 8px $primary);
}

.listings-container > div:nth-child(3n+3) .card {
    border: 2px solid $secondary;
    background-color: $light;
    transition: filter 0.5s ease-in-out;
}

.listings-container > div:nth-child(3n+3):hover .card {
    filter: drop-shadow(3px 3px 8px $secondary);
}

.dropdown-menu {
    background-color: $light;
    color: $dark;
}

.dropdown-toggle::after {
    display: none !important;
}

@media (max-width: 767.98px) {
    .logo {
        width: 200px;
    }

    h1 {
        font-size: 1rem;
    }
}

@media (max-width: 575.98px) {
    .xs-height {
        height: 75% !important;
    }
}