a {
    color: $dark;
    font-family: 'Poppins', sans-serif;
}

.product-container {
    max-width: 1050px;
}

.main-img {
    max-height: 380px;
    min-height: 220px;
    max-width: 500px;
    min-width: 300px;
}

.images-gallery {
    max-width: 560px;
    min-width: 320px;
    border: 2px solid $info;
}

.images-gallery img {
    max-width: 100%;
    height: auto;
}

.gallery-card {
    height: max-content;
}

.preview {
    max-width: 95%;
    min-width: 280px;
}

.preview img {
    max-height: 80px;
    min-height: 70px;
    width: wrap;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}

img.active-img {
    opacity: 1;
}

.auction-info {
    max-width: 400px;
    min-width: 320px;
    height: max-content;
    border: 2px solid $primary;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 500;
}

.history {
    font-size: 0.9em;
}
